@charset "UTF-8";
body{
    font-family: 'NanumSquareRound', sans-serif;
    background: #fff;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.graph{
    height: 540px;
    border: 2px solid #8bcbc8;
    margin: 20px;
}

.graph .contents .tab-nav{
    overflow: hidden;
}
.graph .contents .tab-nav li{}
.graph .contents .tab-nav li a{
    width: 50%;
    float: left;
    text-align: center;
    line-height: 60px;
    background: #8bcbc8;
    color: #fff;
    transition-duration: 0.5s;
}
.graph .tab-nav li a.active{
    color: #8bcbc8;
    background: #fff;
    
}
.graph .tab-contents{
    text-align: center;
    padding: 90px;
}
